html,
body {
  margin: 0;
  font-family: "Advent Pro", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

div.screen {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

div.projector {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

div.colors {
  position: relative;
  width: 421.33px;
  height: 5rem;
  margin-inline: auto;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 5rem;
  position: absolute;
  width: fit-content;
  mix-blend-mode: multiply;
  font-weight: 300;
  margin: 0;
  animation-fill-mode: forwards !important;
}

h1 > span {
  letter-spacing: 7.5px;
  font-weight: 700;
}

.red {
  color: #ff0000;
}

/* User select is none because we don't want someone copy and pasting to be grab all three 
"Dalton McGee" text elements. Similarly the HTML has an aria-hidden=true so screen readers 
won't see all three of them when reading the page. */
.green {
  user-select: none;
  color: #00ff00;
}

.blue {
  user-select: none;
  color: #0000ff;
}

/* Put the animations within a no-preference query so that those who don't want to see animation
don't have to see it. */
@media (prefers-reduced-motion: no-preference) {
  div.screen {
    background-color: #000;
    animation: black-to-white 2s ease-in 0s;
    animation-fill-mode: forwards;
  }

  div.projector {
    background-color: #000;
    animation: film-flicker 0.04s steps(24) 160;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  div.colors {
    opacity: 0;
    animation: turn-on-projector 2s ease-in 2s;
    animation-fill-mode: forwards;
  }

  .red {
    transform: translate(-105px, -4px);
    animation: red-up-and-down 3s steps(72) 2s, red-movement 2.5s ease 3.75s;
  }

  .green {
    transform: translate(115px, 6px);
    animation: green-up-and-down 2.45s steps(72) 2.15s,
      green-movement 2.25s ease 4s;
  }

  .blue {
    user-select: none;
    color: #0000ff;
    transform: translate(-30px, -2px);
    animation: blue-up-and-down 2.75s steps(72) 1.75s,
      blue-movement 1.85s ease 4.4s;
  }
}

@keyframes film-flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@keyframes black-to-white {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #eee;
  }
}

@keyframes turn-on-projector {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes red-movement {
  50% {
    transform: translate(-85px, 0);
  }

  94% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes green-movement {
  50% {
    transform: translate(176px, 0);
  }

  90% {
    transform: translate(-5px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes blue-movement {
  50% {
    transform: translate(-60px, 0);
  }

  85% {
    transform: translate(5px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes red-up-and-down {
  10% {
    transform: translate(-85px, 5px);
  }

  33% {
    transform: translate(-85px, 45px);
  }

  80% {
    transform: translate(-85px, -15px);
  }

  100% {
    transform: translate(-85px, -12px);
  }
}

@keyframes green-up-and-down {
  10% {
    transform: translate(176px, -15px);
  }

  33% {
    transform: translate(176px, 25px);
  }

  80% {
    transform: translate(176px, -1px);
  }

  100% {
    transform: translate(176px, 0px);
  }
}

@keyframes blue-up-and-down {
  10% {
    transform: translate(-60px, -25px);
  }

  33% {
    transform: translate(-60px, 25px);
  }

  80% {
    transform: translate(-60px, -15px);
  }

  100% {
    transform: translate(-60px, 15px);
  }
}
